<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header class="navbar">
        <div class="navbar__buttons">
            <a href="/" class="navbar__button">Home</a>
            <a href="/classes/" class="navbar__button">Classes</a>
            <a href="https://github.com/jmue2" class="navbar__button">Projects</a>
            <a href="/resume/" class="navbar__button">Resume</a>
            <a href="/connect_four/" class="navbar__button">Connect Four</a>
        </div>
    </header>

    <main class="main">
        <h1 class="main__header">Hello.</h1>
        <img class="main__headshot" id="john_img" src="/static/images/john_senior_photo.jpg" alt="john"></img>
        <p class="main__text">My name is John Muenning.</p>
        <p class="main__text">I study computer science and mathematics at Boston University. This past summer, I worked as a research developer with the Framingham Heart Study Brain Aging Program.</p>
        <p class="main__text">I would like to thank you for visiting; I hope you enjoy this website.</p>
    </main>

    <script src="{{url_for('static', filename='index.js')}}"></script>

    <footer class="footer">
        <div class="footer__content">
            <p>Made by John Muenning</p>
            <p>|</p>
            <p>jmue@bu.edu</p>
            <p>|</p>
            <div class="footer__socials">
                <a href="https://www.linkedin.com/in/john-muenning-702a90221" class="social-link" target="_blank">
                    <img class="footer__socials__img" src="/static/images/linkedin.png" alt="My LinkedIn">
                </a>
                <a href="https://github.com/jmue2" class="social-link" target="_blank">
                    <img class="footer__socials__img" src="/static/images/github.png" alt="My GitHub">
                </a>
            </div>
        </div>
    </footer>

</body>
</html>